
.DS_Store
**/node_modules/**

Logic2.app
htb/challenges/crypto/Oracle Leaks/RsaCtfTool/
scripts/w3af/
x.md
htb/challenges/hardware/unique/Unique.zip
htb/challenges/pwn/pwn_modern_typer/Modern Typer.zip
htb/challenges/pwn/pwn_modern_typer/chromium/chrome

*lwlx-*
/scripts/env/Scripts
/scripts/env/share
/scripts/env/Lib
/scripts/env/Include
scripts/hosts.txt
scripts/img.txt
scripts/licenses.txt
scripts/tbk.json
scripts/urls.txt
scripts/x.json
