<html>
<head>
   <title>Gunship</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <meta name='author' content='makelaris'>
   <link rel='icon' href='/static/images/favicon.png' type='image/png' />
   <link rel='stylesheet' href='/static/css/main.css' />
</head>
<body>
   <div id='main'>
   <h1 id='title'>GUNSHIP</h1>
   <div>
      Retro futuristic assault, a neon soaked, late night, sonic getaway drive.
   </div>
   <div id='img-div'>
      <img id='image' src='https://media.giphy.com/media/k81NasbqkKA5HSyJxN/source.gif'></img>
      <div id='img-caption'>
         <br>Gunship is a British synthwave band formed in 2010 by Dan Haigh and Alex Westaway.
      </div>
   </div>
   <div id='tribute-info'>
      <ul>
         <h3 id='headline'>Gunship Timeline</h3>
         <li>Alex Westaway and Dan Haigh's other musical act, Fightstar goes on hiatus 2010</li>
         <li>Gunship is formed 2010</li>
         <li>Debut release, self titled <i>Gunship</i> released 2015</li>
         <li>Collaborated with Metrik on the track <i>Electric Echo</i> 2016</li>
         <li>Collaborated with Lazerhawk on the track <i>Feel The Rush</i> 2017</li>
         <li>Remixed Lionface's <i>No Hope State</i> 2017</li>
         <li>Included the track <i>Vale Of Shadows</i> on <i>Rise of the Synths EP 2</i> 2017</li>
         <li>Single <i>Art3mis & Parzival</i> released 2018</li>
         <li>Follow up release <i>Dark All Day</i> released 2018</li>
      </ul>
   </div>
   <p>FIND OUT MORE ABOUT GUNSHIP <a id='tribute-link' href='https://www.retro-synthwave.com/artists/gunship' target='_blank'>HERE<a>.</p>
   <div id='main'>
   <h1 id='title'>Who's your favourite artist?</h1>
   <div>
   <form id='form' action='/' method='POST'>
      <div class='input-field'>
         <input type='text' name='name' placeholder='name' autocomplete='off' required />
         <button type='submit' form='form'>Send</button>
      </div>
   </form>
   <p id='output'></p>
   <script src='/static/js/main.js' type='text/javascript'></script>
</body>
</html>