<html>
<head>
  <meta name='author' content='makelaris, makelarisjr'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>petpet brcee</title>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <link link='preload' href='//fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet'>
  <link rel='stylesheet' href='/static/css/main.css' />
  <link rel='icon' href='/static/assets/favicon.png' />
</head>
<body>
<img id='bee-left' src='/static/assets/bee.gif' style='position:fixed; top:0; left:0;'/>
<img id='bee-right'src='/static/assets/bee.gif' style='position:fixed; top:0; right:0;'/>

<div id='main' class='container'>
  <h1 id='title'>🐝 petpet rcbee 🍯</h1>
  Working in groups, moving their tiny little shiny wings through thick and thin, the real heroes of our ecosystem deserve some petting! 👋
  <br>
  <div id='img-div'>
    <img id='image' src='/static/assets/petbee.gif' alt='eating space shrimps'>
    <div id='alerts'></div>
      <br>
  </div>
  <hr>
  <form id='form'>
    <div class='form-group'>
      <div class='row'>
        <div class='col'>
          <label for='upload' id='selectFile' class='btn btn-primary btn-block'>
            Choose File...
          </label>
        </div>
        <div class='col'>
          <button type='submit' class='btn btn-warning btn-block'>Upload</button>
        </div>
        <input type='file' name='uploadFile' id='upload' required>
      </div>
    </div>
  </form>
</div>
<script src='//code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous'></script>
<script src='//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous'></script>
<script src='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
<script src='/static/js/main.js'></script>
<script src='/static/js/koulis.js'></script>
</body>
</html>